beautifulsoup4==4.12.3
langchain==0.1.14
langchain-community==0.0.31
langchain-core==0.1.40
langchain-experimental==0.0.55
langchain-openai==0.1.0
langchain-text-splitters==0.0.1
langsmith==0.1.31
lxml==5.2.1
python-dotenv==1.0.1
streamlit==1.33.0
st-pages==0.4.5
streamlit-tags==1.2.8
spacy==3.7.4